* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*---------- GERAL ---------- */
html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

:root {
  --hue: 17;
  --primary-color: hsl(var(--hue), 75%, 63%);
  --primary-color-hover: hsl(var(--hue), 55%, 48%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --brand-beige: hsl(39, 100%, 97);
  --brand-light: hsl(18, 100%, 91%);

  --bg-light: hsl(26, 64%, 98%);

  --nav-height: 7.2rem;
  --container-width: 37.5rem;

  font-size: 62.5%; /*1rem = 10px  (lidar com acessibilidade)*/
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  text-align: center;
  overflow: overlay;

  background: var(--bg-light);
}

.wrapper {
  width: 100vw;
  max-width: var(--container-width);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

.wrapper > :not(nav) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

section {
  padding: 10rem 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  background: #00856f;

  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  border: none;
  border-radius: 4rem;

  padding: 2.4rem 3.2rem;
  width: fit-content;
}

.button:hover {
  background-color: #00453a;
  transition: background 0.2s;
}

/*---------- NAVIGATION ----------*/
img.logo {
  display: block;

  max-height: calc(0.8 * var(--nav-height));
}

nav {
  display: flex;

  width: 100vw;
  height: var(--nav-height);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: var(--container-width); */
}

nav.scroll {
  background-color: var(--primary-color);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/*---------- MENU EXPANDED ----------*/
body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateX(100%);
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);

  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);

  transition: transform 400ms;

  transform: translateX(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: black;
}

.menu ul li:last-child {
  margin-bottom: 6rem;
}

.menu .button:hover {
  background-color: hsl(0, 0%, 90%);
  color: var(--primary-color-hover);
}

.social-medias {
  display: flex;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded nav button {
  position: relative;
  z-index: 100;
}

body.menu-expanded button path {
  stroke: white;
}

/*---------- HOME ----------*/
#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: '';

  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: calc(104rem + var(--nav-height));

  background-color: var(--brand-light);
}

#home .button {
  margin: 0 auto;
}

/*---------- ANTES DA IMAGEM DA MULHER ----------*/
#home h4 {
  color: var(--primary-color);
  font-size: 1.4rem;

  margin-bottom: 1.6rem;
}

#home h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 2.4rem;
}

#home p {
  font-size: 1.8rem;
  color: var(--paragraph);
  font-weight: 400;

  margin-bottom: 3.2rem;
}

/*---------- IMAGEM MULHER ----------*/
#home img.woman {
  display: block;

  width: 29rem;
  margin: 0 auto;
  object-position: 0 2rem;
}

/*---------- CARD INFOS ----------*/
#home .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;

  background-color: white;

  width: 100%;
  height: 47rem;
  margin: 0 auto;
  padding: 4rem 0;

  border-radius: 2rem;
  border: 1px solid var(--brand-light);
}

#home .info h3 {
  color: var(--headline);
  font-size: 4.8rem;

  margin-bottom: 0.4rem;
}

#home .info p {
  margin: 0;
  color: var(--primary-color);
}

/*---------- LINKS ----------*/
a {
  text-decoration: none;
}

/*---------- SUBTITLES ----------*/
section header h2 {
  color: var(--primary-color);
  font-size: 2.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;
  text-transform: uppercase;

  margin-bottom: 2rem;
}
section header h3 {
  color: var(--headline);
  font-size: 2.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;

  margin-bottom: 2rem;
}

/*---------- ABOUT ----------*/
#about .content h3 {
  color: var(--headline);
  font-size: 2.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;

  margin-top: 2rem;
  margin-bottom: 1rem;
}

#about .degrees {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

#about .degree {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  background: white;

  border: 1px solid var(--brand-light);
  border-radius: 1rem;

  padding: 1rem;
}

#about .degree h4,
#about .degree h5 {
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
}

#about .degree h4 {
  font-weight: 600;
}

/*---------- SERVICES CARD ----------*/
.cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.card {
  background: white;

  border-radius: 1.6rem;
  border: 1px solid var(--brand-light);

  display: flex;
  flex-direction: column;
  padding: 2.4rem;
  /*width: fit-content;*/
  text-align: left;
}

#services .card img {
  align-self: flex-end;
}

.card h3 {
  margin: 1rem 0;
}

/*---------- CONTACT ----------*/

#contact .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#contact .location {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.illustrative-pic {
  width: calc(0.9 * var(--container-width));
  border-radius: 1rem;
  box-shadow: 0 0 1rem var(--primary-color-hover);
  margin-top: 2rem;
}

/*---------- FOOTER ----------*/
footer {
  padding-block: 6rem;
  text-align: left;

  color: black;
  background-color: var(--primary-color);
}

footer .brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer .logo {
  width: 8rem;
  height: 8rem;
  margin-bottom: 1.6rem;
}

footer p {
  margin-bottom: 3.2rem;
}

footer .social-medias {
  display: flex;
  justify-content: left;
  gap: 2.4rem;
  margin: 0;
}

/*---------- BACK TO TOP ----------*/
#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 3rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 300ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;

  transform: translateY(0);
}
